@{
    ViewBag.Title = "Viva Fund";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: "Trebuchet MS", sans-serif;
            margin: 50px;
        }

        .sameline {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }

        .same_vertical {

            vertical-align: bottom;
            margin-top: 0px;
            margin-bottom: 100px;
        }

        .sameline :first-child {
            margin-left: 0;
        }

        .textline {
            border-bottom-width: thin;
            border-bottom-style: solid;
            border-bottom-color: #CCC;
            padding-top: 10px;
            color: #626262;
            font-size: 11px;
            line-height: 1.5em;
            font-family: Verdana, Geneva, sans-serif;
            text-align: center;
        }

        select {
            width: 200px;
        }

        .ProjectList {
            background-color: transparent;
            list-style-type: none;
            padding-left: 0px;
        }


            .ProjectList li {
                width: 200px;
                display: inline-block;
            }
    </style>

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Viva Fund", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Viva Fund - 1st Coding School - Viva Team 3</p>
        </footer>
    </div>
    <script type="text/javascript">
        $("btn").button();

        $("#accordion").accordion();

        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#autocomplete")
            .autocomplete({
                source: availableTags
            });


        $("#button-icon")
            .button({
                icon: "ui-icon-gear",
                showLabel: false
            });
        $("#radioset").buttonset();
        $("#controlgroup").controlgroup();
        $("#tabs").tabs();
        $("#dialog")
            .dialog({
                autoOpen: false,
                width: 400,
                buttons: [
                    {
                        text: "Ok",
                        click: function () {
                            $(this).dialog("close");
                        }
                    },
                    {
                        text: "Cancel",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });

        // Link to open the dialog
        $("#dialog-link")
            .click(function (event) {
                $("#dialog").dialog("open");
                event.preventDefault();
            });

        $("#datepicker")
            .datepicker({
                inline: true
            });

        $("#slider")
            .slider({
                range: true,
                values: [17, 67]
            });

        $("#progressbar")
            .progressbar({
                value: 90
            });

        $("#spinner").spinner();

        $("#menu").menu();

        $("#tooltip").tooltip();

        $("#selectmenu").selectmenu();

        // Hover states on the static widgets
        $("#dialog-link, #icons li")
            .hover(
                function () {
                    $(this).addClass("ui-state-hover");
                },
                function () {
                    $(this).removeClass("ui-state-hover");
                }
            );
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
