@model VivaFund.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Details";

    var memberId = ViewBag.MemberId;

    Layout = "~/Views/Shared/_Layout.cshtml";

    var IsLoggedIn = false;

    IsLoggedIn = User.Identity.IsAuthenticated;

    var DonationsSum = Model.Donations.Sum(d => d.DonatedAmount);
    var donationPercentage = (int)((double)DonationsSum / Model.Goal * 100);
    VivaFund.ViewModels.CommentViewModel comm = new VivaFund.ViewModels.CommentViewModel();
    comm.ProjectId = Model.ProjectId;
    comm.MemberId = Model.MemberId;
    Model.Comments.Add(comm);

}
<section>
    <br />
    <br />
    <div class="row">
        <div class="container">
            <h1>@Model.TitleEn</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <iframe width="640" height="360" src="@Model.URL" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
                <h3>@Model.SubtitleEn</h3>

                <span style="font-size:32px;">@Model.daysToGo</span> days to go!

                <div>@Model.Donations.Select(u => u.MemberId).Distinct().Count() Backer(s)</div>

                <div class="text-right">$@DonationsSum of $@Model.Goal</div>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@DonationsSum"
                         aria-valuemin="0" aria-valuemax="@Model.Goal" style="width:@donationPercentage%">
                        <span class="sr-only">@DonationsSum% Complete</span>
                    </div>
                </div>
                <div>
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <text>Select a reward package to fund the project</text>
                            <div class="" style="padding-bottom:15px;">
                                @Html.DropDownListFor(m => m.RewardId, new SelectList(Model.Rewards, "Value", "Title"), "- Please Select -", new { @class = "form-control" })
                            </div>

                            @*<a href="#" class="btn btn-success">Fund this Project</a>*@

                            <div id="viva_button"></div>

                        }
                    }
                </div>
                <div class="addthis_inline_share_toolbox" style="margin-top:30px;"></div>

            </div>
        </div>
    </div>
</section>

<section style="margin-top: 30px;">
    <div class="container">
        <div class="row">

            @* Main Section *@
            <div class="col-md-8">
                <div id="tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="javascript:void(0)" class="active tablinks" onclick="openTAB(event, 'projectBody')" data-toggle="tab">Description</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTAB(event, 'projectUpdates')" data-toggle="tab">Updates</a></li>
                        <li><a href="javascript:void(0)" class="tablinks" onclick="openTAB(event, 'projectComments')" data-toggle="tab">Comments</a></li>
                    </ul>

                    <div id="projectBody" class="tabcontent" align="justify">
                        <p>@Model.BodyEn</p>
                    </div>
                    <div id="projectUpdates" class="tabcontent">
                        <p>No updates yet.</p>
                    </div>
                    <div id="projectComments" class="tabcontent">
                        <div class="container">
                            <form method='post'>
                                <div class="row">
                                    <div class="col-md-1">
                                        UserName:
                                    </div>
                                    <div class="col-md-11">
                                        <input type='text' name='name' id='name' /><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        Comment:
                                    </div>
                                    <div class="col-md-11">
                                        <textarea name='comment' id='comment'></textarea><br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-11">
                                        <input type='submit' value='Submit' class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @* Rewards Column *@
            <div class="col-md-4">
                <br />
                @if (Model.Rewards.Count() > 0)
            {
                foreach (var reward in Model.Rewards)
                {
                        <div>
                            <h3>@reward.Title</h3>
                            Donate $@reward.Value or more<br />
                            @reward.RewardDescription<hr />
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    @*<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://demo.vivapayments.com/web/checkout/js"></script>*@
    <script>
        function openTAB(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        $(function () {
            openTAB(event, 'projectBody');
        });

    </script>
    <script>
        $(document).ready(function () {


            $('#viva_button').html('  \
                    <form id="myform" action="/Projects/Checkout" method="post"> \
                        <input type="hidden" value="'+@Html.Raw(Model.ProjectId)+'"\>\
                        <button type="button" id = "vpButton" \
                            data-vp-sourcecode="Default" \
                            data-vp-publickey="GL0WTFkmyONDEaVYSa9EpZmxNBRNz3+el1EfAMVJ9nU=" \
                            data-vp-baseurl="https://demo.vivapayments.com" \
                            data-vp-lang="en" \
                            data-vp-amount="1" \
                            data-vp-customeremail="customer@vivawallet.com" \
                            data-vp-customerfirstname = "John" \
                            data-vp-customersurname = "Smith" \
                            data-vp-merchantref="test merchant ref   aalalalalallal" \
                            data-vp-expandcard="true" \
                            data-vp-description="My product"> \
                        </button> \
                    </form>');

            $('#vpButton').prop('disabled', true);

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "https://demo.vivapayments.com/web/checkout/js";
            $("#viva_button").append(script);

            $("#RewardId").change(function () {
                //$('#vpButton').attr('data-vp-amount', $("#RewardId").find(":selected").text());
                var amnt = $("#RewardId").find(":selected").val();
                var amount = (amnt != "") ? amnt : 1;

                $('#viva_empty').empty();
                $('#viva_button').html('  \
                    <form id="myform" action="/Projects/Checkout" method="post"> \
                            <input type="hidden" name="project" value="'+@Html.Raw(Model.ProjectId)+'"\>\
                        <button type="button" \
                            data-vp-sourcecode="Default" id="vpButton" \
                            data-vp-publickey="GL0WTFkmyONDEaVYSa9EpZmxNBRNz3+el1EfAMVJ9nU=" \
                            data-vp-baseurl="https://demo.vivapayments.com" \
                            data-vp-lang="en" \
                            data-vp-amount="' + amount * 100 + '" \
                            data-vp-customeremail="customer@vivawallet.com" \
                            data-vp-customerfirstname = "John" \
                            data-vp-customersurname = "Smith" \
                            data-vp-merchantref="test merchant ref   aalalalalallal" \
                            data-vp-expandcard="true" \
                            data-vp-description="My product"> \
                        </button> \
                    </form>');

                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = "https://demo.vivapayments.com/web/checkout/js";
                $("#viva_button").append(script);

                if (amnt == "") {
                    $('#vpButton').prop('disabled', true);
                }

            });

        });
    </script>

}