@model VivaFund.DomainModels.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var IsLoggedIn = false;

    IsLoggedIn = User.Identity.IsAuthenticated;

    var DonationsSum = Model.Donations.Sum(d => d.DonatedAmount);
}
<section>
    <div class="row">
        <div class="container">
            <h1>@Model.TitleEn</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-md-7">
                <iframe width="640" height="360" src="@Model.ProjectMedia.Select(v=>v.URL).FirstOrDefault()" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <h3>@Model.SubtitleEn</h3>

                <div>@Model.Donations.Select(u => u.MemberId).Distinct().Count() Backer(s)</div>

                <div class="text-right">$@DonationsSum of $@Model.Goal</div>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@DonationsSum"
                         aria-valuemin="0" aria-valuemax="@Model.Goal" style="width:@((double)DonationsSum / Model.Goal * 100)%">
                        <span class="sr-only">@DonationsSum% Complete</span>
                    </div>
                </div>
                <div>
                    <form id="myform" action="/checkout" method="post">
                        <button type="button"
                                data-vp-publickey="XAs}{V"
                                data-vp-baseurl="https://demo.vivapayments.com"
                                data-vp-lang="el"
                                data-vp-amount="1000"
                                data-vp-description="My product"></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<section style="margin-top: 30px;">
    <div class="container">
        <div class="row">

            @* Main Section *@
            <div class="col-md-8">
                <div id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#projectBody" data-toggle="tab">Description</a></li>
                        <li><a href="#projectUpdates" data-toggle="tab">Updates</a></li>
                        <li><a href="#projectComments" data-toggle="tab">Comments</a></li>
                    </ul>

                    <div id="projectBody" class="tab-pane fade in active" align="justify">
                        <p>@Model.BodyEn</p>
                    </div>
                    <div id="projectUpdates" class="tab-pane fade">
                        <p>No updates yet.</p>
                    </div>
                    <div id="projectComments" class="tab-pane fade">
                        <p>No comments yet. Why don't you write something?</p>
                    </div>
                </div>
            </div>

       

            @* Rewards Column *@
            <div class="col-md-4">
                <br />
                @if (Model.Rewards.Count() > 0)
            {
                foreach (var reward in Model.Rewards)
                {
            <div>
                <h3>@reward.Title</h3>
                Donate $@reward.Value or more<br />
                @reward.RewardDescription<hr />
            </div>
                }
            }

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://demo.vivapayments.com/web/checkout/js"></script>
    <script>
        $("#tabs").tabs();
    </script>
}