@model VivaFund.DomainModels.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var IsLoggedIn = false;

    IsLoggedIn = User.Identity.IsAuthenticated;

    var DonationsSum = Model.Donations.Sum(d => d.DonatedAmount);
}
@*<div>
    <h4>@Html.DisplayFor(model => model.TitleEn)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleEl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleEl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtitleEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtitleEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtitleEl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtitleEl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyEl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyEl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Goal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
<section>
    <div class="row">
        <div class="col-lg-12">
            <h1>@Model.TitleEl</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="http://wallpapersonthe.net/wallpapers/b/5120x4096/5120x4096-underwater_beaches_sea_bottom_bottom_of_the_sea_ocean-10752.jpg" width="400" />
        </div>
        <div class="col-md-8">
            <h3>@Model.SubtitleEl</h3>
            
            <div>@Model.Donations.Select(u=>u.MemberId).Distinct().Count() Backer(s)

            <div class="text-right">$@DonationsSum of $@Model.Goal</div>

            <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@DonationsSum"
                     aria-valuemin="0" aria-valuemax="@Model.Goal" style="width:@((double)DonationsSum / Model.Goal * 100)%">
                    <span class="sr-only">@DonationsSum% Complete</span>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12 col-lg-offset-4">
            @Model.BodyEl
        </div>
    </div>
</section>