@model IEnumerable<VivaFund.DomainModels.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="ProjectList">
    @foreach (var item in Model)
    {
        <li>
          
                @Html.Partial("_ProjectPartial", item)
           
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </div>
        </li>
    }
</ul>

<div class="jumbotron">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
